<strong>Olá {{ name }}</strong>
<p>Seguem as informações solicitadas para recuperar seu acesso ao Nutri</p>

<p>
  <strong>Usuário/Login: {{email}}</strong>
  <br />
  <!--<strong>Senha: <a href='http://localhost:3333/users/password/forgot/{{token}}' target="_blank">Clique aqui para criar uma nova senha</a></strong>-->
  <strong>Código para recuperação de senha: {{token}}</strong>
</p>

<p>
  Por motivos de segurança, o link acima só será válido durante as próximas 24 horas.
</p>

<p>
  Se você não deseja redefinir sua senha ou não solicitou estas informações, pode ignorar este e-mail com segurança.
</p>
